@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

html {
  height: 100%;
}

body {
  height: 100%;
}

#stats {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  top: calc(1.775rem + .3vw);
  padding: 10px;
  font-size: 0.7em;
}

div.img-btn {
  cursor: pointer;
  height: 65px;
  width: 65px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  opacity: 0.6;
  display: inline-block;
  border: 1px solid gray;
  margin: 37px 0px 0px 5px;
}

div.img-btn:hover {
  opacity: 1;
  transform: scale(1.1);
  border: 2px solid black;
}

.align {
  align-content: flex-start;
}

div.container-fluid {
  height: 100%;
}

div.row {
  height: 100%;
}

div.row.thin-gutters {
  margin: 0 2px 0 2px;
}

div.row.thin-gutters > .col,
div.row.thin-gutters > [class*="col-"] {
  padding: 8px 8px;
}

div.card {
  border: none;
  justify-content: center;
  overflow: auto;
}

div.card-block {
  align-content: center;
  max-width: 100%;
}

div.left-form > div.card > div.card-block {
  margin: 10px;
}

.form-control {
  margin: 5px;
}

div.col-sm-6, div.col-sm-6 {
  max-height: fit-content;
  overflow: auto;
}

div.video-container {
  max-width: 100%;
}

video {
  border-radius: 5px;
  max-width: 1280px !important;
  min-width: 640px !important;
  height: auto !important;
  object-fit: cover;
}

div.col-sm-8, div.col-sm-4 {
  max-width: 100%;
  flex: 100%;
}
